[flake8]
# Игнорируемые ошибки (через запятую)
ignore =
    E501,  # Слишком длинные строки
    W503,  # Перенос оператора перед бинарной операцией
    E203,  # Пробел перед ':'
    E266,  # Слишком много '#' в комментарии

# Максимальная длина строки (по умолчанию 79)
max-line-length = 120

# Исключаемые папки/файлы
exclude =
    .git,
    __pycache__,
    venv,
    migrations,
    docs,
    *.yml

# Допустимые имена переменных (например, для 'id')
per-file-ignores =
    tests/*: S101  # Игнорировать 'assert' в тестах